body {
    background-color: black;
}

h1 {
    color: white;
}

div {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}